/* https://amazingdiscoveries.org/assets/pictures/EllenWhite/5547-White-Family.jpg */

html {
    font-family: Roboto;
    background-color: rgb(221, 221, 221);
}

body {
    font-size: 1.5em;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
}

#tribute-info {
    margin-top: 20px;
    font-size: 1.5em;
}

#top-name {
    font-family: 'Tangerine', serif;
    font-size: 3em;
}


/* div {
    width: auto;
    align-self: center;
} */

ul li {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

ul {
    /* max-width: 800px; */
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 700px) {
    ul li {
        max-width: 800px;
        justify-self: start;
    }
}

#img-div {
    width: 80%;
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: auto;
    margin-right: 2%;
    padding: 50px;
    background-color: white;
    text-align: center;
    box-shadow: whitesmoke;
    font-family: Roboto;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}


#tribute-p {
    text-align: center;
}

h1 {
    text-align: center;
}

li {
    margin: 16px 0;
}

caption {
    padding-top: 20px;
}

/* Media queries */

@media (max-width: 375px) {
    ul li {
        justify-self: start;
    }

    #img-div {
        margin-top: 0%;
        padding: 5px;
        font-size: 1em;
    }

    #top-name {
        font-family: 'Tangerine', serif;
        font-size: 1.4em;
        font-weight: 900;
        font-family: Roboto;
    }

    section #tribute-info {
        font-size: 1em;
    }

    div ul li p {
        font-size: 0.8em;
    }
}

@media (max-width: 300px) {
    ul li {
        justify-self: start;
    }

    #img-div {
        margin-top: 0%;
        padding: 5px;
        font-size: 0.5em;
    }

    #top-name {
        font-family: 'Tangerine', serif;
        font-size: 1.4em;
        font-weight: 900;
        font-family: Roboto;
    }

    caption #img-caption{
        font-size: 0.5em;
    }

    section #tribute-info {
        font-size: 0.5em;
    }

    div ul li p {
        font-size: 0.8em;
    }
}
